/* ++++++++++++++++++++ header ++++++++++++++++++++ */
/* ++++++++++++++++++++ header nav ++++++++++++++++++++ */

.header{
    background: linear-gradient(90deg, #1E1E1E -6.88%, #00000000 87.45%), url("../img/content/coffee_image.jpg") 50% 100% / cover no-repeat;
}
.header__top {
    padding-top: 19px;
}
.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.header__logo {
    color: #ffffff;
    font-family: "Clicker Script";
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: left;
}
.header__logo img{
    width: 100%;
}
.nav {
    font-family: "Playfair Display";
}
.nav__list {
    display: flex;
    gap: 4vh 40px;
    color: #ffffff;
}
.nav__item {
}
.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.nav__link:hover {
    opacity: 1;
    transform: scale(1.1); /* Увеличиваем масштаб */
    transition: var(--transition);
}
.verification {
    display: flex;
    align-items: center;
    gap: 30px;
}
.sing-in {
    color: #ffffff;
    min-width: 60px;
}
.sing-up__button{
    font-weight: 500;
}
.sing-in:hover {
    opacity: 1;
    transform: scale(1.1); /* Увеличиваем масштаб */
    transition: var(--transition);
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    /* background: #6bec44; */
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.burger-icon span, 
.burger-icon span::before, 
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}
.burger-icon span {
    position: relative;
}
.burger-icon span::before, 
.burger-icon span::after {
    content: '';
    position: absolute;
}
.burger-icon span::before {
    top: -8px;
}
.burger-icon span::after {
    bottom: -8px;
}
.body--opened-menu .burger-icon span{
    background: transparent;
}
.body--opened-menu .burger-icon span::before{
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
    bottom: 0px;
    transform: rotate(-45deg);
}
.heder__hero {
    padding: 50px 0 140px;
}
/* ++++++++++++++++++++ header hero ++++++++++++++++++++ */
.hero {
    padding: 50px 0 140px;
}
.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}
.hero__content {
    max-width: 530px;
    display: flex;
    flex-direction: column
}
.hero__title {
    display: flex;
    height: 291px;
    font-family: "Clicker Script";
    align-items: center;
    justify-content: space-between;
    font-size: 220px;
    line-height: 0.82;
    color: #ffffff;
}
.hero__text {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 20px;
}
